# Binaries
/vault-namespace-controller

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary artifacts
*.test

# Output of go build
/build/
/bin/
/dist/

# Vendor directory (optional if using Go modules and not vendoring)
vendor/

# Dependency management files
go.sum

# IDE/editor files
*.swp
*.swo
*.DS_Store
.idea/
.vscode/
*.log
*.yaml

# OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini
